<section class="banner-main p-0">
  <div class="col-12 p-0">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-12 banner-content">
            <h1>Ready to manage your supply-chain smartly on TradeLyncs?</h1>
            <p>Secure business loans, flexible financial services and affordable logistics - SAVE money at every step!
            </p>
            <div class="email-getstarted">
            <div class="input-btn mt-5 mb-3">
              <form [formGroup]="emailForm">
                <input type="text" class="form-control" placeholder="Enter your email address" formControlName="email">
              </form>
              <button class="step-btn stepper-btn btn active" (click)="openLink('signup')">Get started</button>
            </div>
          </div>
            <!--<p class="mt-3">Try TradeLyncs free for 14 days after you book a demo</p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>