<section class="hero-section" style="position: relative;">

    <ngb-carousel [interval]="7000" [pauseOnHover]="false" [showNavigationArrows]="false"
        [showNavigationIndicators]="false">

        <ng-template ngbSlide>
            <div class="hero-slide slide-1">
                <div class="parallax-layer-1"
                    [ngStyle]="{ 'background-image': 'url(' + ('banner/banner_1.jpg' | mediaUrl) + ')' }">
                </div>

            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="hero-slide slide-2">
                <div class="parallax-layer-2"
                    [ngStyle]="{ 'background-image': 'url(' + ('banner/banner_2.jpg' | mediaUrl) + ')' }">
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="hero-slide slide-3">
                <div class="parallax-layer-3"
                    [ngStyle]="{ 'background-image': 'url(' + ('banner/banner_3.jpg' | mediaUrl) + ')' }">
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="hero-slide slide-4">
                <div class="parallax-layer-4"
                    [ngStyle]="{ 'background-image': 'url(' + ('banner/banner_4.jpg' | mediaUrl) + ')' }">
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="hero-slide slide-5">
                <div class="parallax-layer-5"
                    [ngStyle]="{ 'background-image': 'url(' + ('banner/banner_5.jpg' | mediaUrl) + ')' }">
                </div>
            </div>
        </ng-template>

    </ngb-carousel>
</section>