<!-- ============================================================== -->
<!-- contact us Section  -->
<!-- ============================================================== -->
<div class="contact-us">
  <div class="col-12">
    <div class="content py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-12 contact-content">
            <h6>Contact us</h6>
            <h3>Reach out to us — We're here to help!</h3>
            <div class="mail">
              <h5>Mail us at</h5>
              <p>theinidancircuit&#64;gmail.com</p>
            </div>

            <div class="mail">
              <h5>Contact us at</h5>
              <p>(IN) +91 9182387707</p>
              <p>(IN) +91 8104293139</p>
            </div>

            <div class="mail">
              <h5>Address</h5>
              <p>Vaishali Nagar, Jaipur Rajsthan 302021</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 contact-form">
            <p>Fill up the following details</p>
            <form class="form-container" [formGroup]="contactForm">
              <div class="form-row">
                <div class="form-group">
                  <label>First name*</label>
                  <input class="form-control form-control-lg" type="text" name="FirstName" placeholder="First name"
                    autocomplete="off" formControlName="firstName"
                    [ngClass]="{'is-invalid':submitted && formctrls['firstName'].invalid}" />
                </div>
                <div class="form-group">
                  <label>Last name*</label>
                  <input class="form-control form-control-lg" type="text" name="LastName" placeholder="Last name"
                    autocomplete="off" formControlName="lastName"
                    [ngClass]="{'is-invalid':submitted && formctrls['lastName'].invalid}" />
                </div>
                <div class="form-group">
                  <label>Email address*</label>
                  <input class="form-control form-control-lg" type="text" name="EmailAddress"
                    placeholder="Email address" autocomplete="off" formControlName="emailAddress"
                    [ngClass]="{'is-invalid':submitted && formctrls['emailAddress'].invalid}" />
                </div>
                <div class="form-group">
                  <label>Phone number*</label>
                  <input class="form-control form-control-lg" type="number" name="PhoneNumber"
                    placeholder="Phone number" autocomplete="off" formControlName="phoneNumber"
                    [ngClass]="{'is-invalid':submitted && formctrls['phoneNumber'].invalid}" />
                </div>
                <div class="form-group">
                  <label>Message*</label>
                  <textarea class="form-control form-control-lg" name="Message" rows="4"
                    placeholder="Write your message.." autocomplete="off" formControlName="message"
                    [ngClass]="{'is-invalid':submitted && formctrls['message'].invalid}">

                              </textarea>
                  <!-- <input class="form-control form-control-lg" type="number" name="PhoneNumber" placeholder="Phone number" autocomplete="off" /> -->
                </div>
                <div class="form-group">
                  <button class="btn btn-primary m-1" type="button" (click)="onSubmit()">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>