<!-- HERO SECTION -->
<div class="day-hero" [style.backgroundImage]="'url(' + ('day_excursion.PNG' | mediaUrl )+ ')'"></div>

<div class="excursion-container">

    <h2 class="section-title">Day Excursions</h2>
    <p class="section-subtitle">Explore nature, culture, ecology and heritage—one day at a time.</p>

    <div class="excursion-grid">

        <div class="excursion-card" *ngFor="let ex of dayExcursions" (click)="goToDetail(ex.id)">

            <div class="card-image" [style.backgroundImage]="'url(' + ex.heroImage +' | mediaUrl)'">
            </div>

            <div class="card-content">
                <h3>{{ ex.title }}</h3>
                <p>{{ ex.shortSummary }}</p>
                <button class="btn-view">View Details →</button>
            </div>

        </div>

    </div>

</div>