<div class="hero-wrapper">

    <!-- Background -->
    <div class="background-wrapper" [style.backgroundImage]="'url(' + activeSlide.bg + ')'">
    </div>

    <!-- Left Content -->
    <div class="hero-content">
        <h1>{{ activeSlide.title }}</h1>
        <h3>{{ activeSlide.subtitle }}</h3>
        <p>{{ activeSlide.desc }}</p>
        <button class="cta-btn">Explore</button>
    </div>

    <!-- Card Swiper -->
    <swiper-container init="false" slides-per-view="1.5" loop="true" autoplay="true" autoplay-delay="6000"
        autoplay-disable-on-interaction="false" speed="200" #cardSwiper (slidechange)="onSlideChange()"
        class="card-swiper">

        @for (slide of slides; track slide; let i = $index) {
        <swiper-slide>
            <div class="card" [class.active]="i === activeIndex">
                <img [src]="slide.card.img" />
                <div class="card-content">
                    <h3>{{ slide.card.title }}</h3>
                </div>
            </div>
        </swiper-slide>
        }

    </swiper-container>


</div>