$primary: #B7D3A8;
$secondary: #D18C56;
$text-dark: #3E4C3A;
$text-muted: #7A8A6B;

.workshop-hero {
    height: 40vh;
    // background-image: url('/assets/workshops/workshops-hero.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 6px solid $secondary;
}

.workshop-container {
    width: 90%;
    margin: 40px auto;
}

.title {
    font-size: 2.2rem;
    border-left: 6px solid $secondary;
    padding-left: 12px;
    color: $text-dark;
}

.subtitle {
    margin-bottom: 30px;
    color: $text-muted;
}

.workshop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 26px;
}

.workshop-card {
    padding: 20px;
    border-radius: 16px;
    border: 2px solid;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 22px rgba(0, 0, 0, 0.08);
    }

    h3 {
        margin: 10px 0;
        color: $text-dark;
    }

    p {
        color: $text-muted;
        min-height: 50px;
    }

    .icon-box {
        width: 100%;
        // height: 55px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 300px;
            height: 220px;
        }
    }

    .btn-view {
        margin-top: 16px;
        padding: 8px 18px;
        border-radius: 22px;
        border: none;
        color: white;
        font-weight: 600;
    }
}