<!-- ============================================================== -->
<!-- How it works Section  -->
<!-- ============================================================== -->
<div class="how-it-works">
    <div class="col-12 p-0">
      <div class="content banner-wrap py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-12 how-it-works-content text-center">
              <h6>Small and medium businesses</h6>
              <p>How it works?</p>

              <div class="row">
                <div class="col-lg-8 col-md-8 offset-md-2 offset-lg-2 col-sm-12 col-12">
                  <div class="how-works">
                    <div class="col-md-12 col-sm-12 how-works-data">
                      <div class="how-works-number">1</div>
                    </div>
                    <div class="how-works-content">
                      <h3>Get started</h3>
                      <p>Sign up and complete KYC verification</p>
                    </div>
                  </div>
                  <div class="how-works">
                    <div class="col-md-12 col-sm-12 how-works-data">
                      <div class="how-works-number">2</div>
                    </div>
                    <div class="how-works-content">
                      <h3>⁠Apply for loan</h3>
                      <p>Sign up and complete KYC verification</p>
                    </div>
                  </div>

                  <div class="how-works">
                    <div class="col-md-12 col-sm-12 how-works-data">
                      <div class="how-works-number">3</div>
                    </div>
                    <div class="how-works-content">
                      <h3>Review and approval</h3>
                      <p>TradeLyncs reviews, approves, and provides loan agreement</p>
                    </div>
                  </div>

                  <div class="how-works">
                    <div class="col-md-12 col-sm-12 how-works-data">
                      <div class="how-works-number">4</div>
                    </div>
                    <div class="how-works-content">
                      <h3>⁠Receive funds</h3>
                      <p>Once approved, funds are released to your account</p>
                    </div>
                  </div>

                  <div class="how-works">
                    <div class="col-md-12 col-sm-12 how-works-data">
                      <div class="how-works-number">5</div>
                    </div>
                    <div class="how-works-content">
                      <h3>Optional logistics services</h3>
                      <p>Use TradeLyncs' services for Quality Control, Transportation, Custom Clearance, and Warehousing if needed.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>